# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work20201109\kevin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
